@model Carcass.Models.UserProfile
@using Carcass.Resources

@using (Html.CarcassBeginForm("ManagePassword", "Account"))
{
    <h4>Change password</h4>
    @Html.AntiForgeryToken()
    @Html.CarcassValidationSummary()
            
    @Html.CarcassFieldFor(m => m.OldPassword, new { autocomplete = "off" })
    @Html.CarcassFieldFor(m => m.NewPassword, new { autocomplete = "off" })
    @Html.CarcassFieldFor(m => m.ConfirmPassword, new { autocomplete = "off" })
   
    @Html.CarcassFormActions(new Dictionary<string, object> 
        { { Buttons.ChangePassword, new { type = "submit", @class="btn-primary" }} });
}
