@model ICollection<Carcass.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h4>Registered external logins</h4>
    <table class="table">
        <colgroup>
            <col style="width:10%;" />
            <col />
        </colgroup>
        <tbody>
        @foreach (Carcass.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.CarcassBeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("provider", externalLogin.Provider)
                            @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                            <input type="submit" value="Remove" class="btn btn-danger"
                                title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
