@model Carcass.Models.UserProfile
@using Carcass.Resources

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.CarcassBeginForm("ManagePassword", "Account"))
{
    <h4>Set Password</h4>

    @Html.AntiForgeryToken()
    @Html.CarcassValidationSummary()
    
    @Html.CarcassFieldFor(m => m.NewPassword, new { autocomplete = "off" })
    @Html.CarcassFieldFor(m => m.ConfirmPassword, new { autocomplete = "off" })

    @Html.CarcassFormActions(new Dictionary<string, object> { { Buttons.SetPassword, new { type = "submit", @class = "btn-primary" } } });
}
