@model Carcass.Models.UserProfile
@using Carcass.Resources;
@{ ViewBag.Title = "Manage Account"; }

@if(ViewBag.StatusMessage != null) {
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.StatusMessage
    </div>
}

<p>You're logged in as <strong class="text-success">@User.Identity.Name</strong>.</p>
<hr />
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial", new Carcass.Models.LocalPasswordModel())
}
else
{ 
    @Html.Partial("_SetPasswordPartial", new Carcass.Models.LocalPasswordModel())
}

@using (Html.CarcassBeginForm("Manage", "Account"))
{
    <h4>Edit your profile data</h4>
    
    @Html.AntiForgeryToken()
    @Html.CarcassValidationSummary()
            
    @Html.CarcassFieldFor(m => m.FirstName)
    @Html.CarcassFieldFor(m => m.LastName)
    @Html.CarcassFieldFor(m => m.Email)
   
    @Html.CarcassFormActions(new Dictionary<string, object> 
        { { Buttons.Save, new { type = "submit", @class="btn-primary" }} });
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
    <h4>Add an external login</h4>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
