@model Carcass.Models.LocalPasswordModel
@{ ViewBag.Title = "Manage Account"; }

<div class="alert alert-info" style="display: @(ViewBag.StatusMessage != null ? "block" : "none" );">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @ViewBag.StatusMessage
</div>

<p>You're logged in as <strong class="text-success">@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
    
    <hr />
    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
