@model IList<Carcass.Models.BlogPost>
@using Carcass.Resources

@{ ViewBag.Title = ExamplesResources.BlogSpace; }
<div class="alert alert-comment">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Very simple blogging engine.    
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message    
    </div>
}

@if (Request.IsAuthenticated)
{
    <p>
        <a href="@Url.Action("AddBlogPost", "Example")" class="btn btn-primary">
            <i class="icon-plus icon-white"></i> Add post
        </a>
    </p>
}
else
{
    <div class="alert alert-warn">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Please login to add new posts.
    </div>
}

@foreach (var post in Model)
{
    <div class="span4" data-post-id="@post.Id.ToStringInvariant()">
        <h2><a href="@Url.Action("ViewBlogPost", "Example", new { id = post.Id})">@post.Title</a></h2>
        
        <div class="blog-post-header">
        <!-- TODO: Move to helper extension -->
        @if (post.AuthorId != 0 ) {
            <a href="@Url.Action("UserBlog", "Example", new { id = post.AuthorId, username = post.AuthorName })"><i class="icon-user"></i> @post.AuthorName</a> 
        } else {
            <span class="muted"><i class="icon-user"></i> @post.AuthorName</span>
        }
    
        <i class="icon-calendar"></i> @post.DateModified
        
        @if(post.CommentsEnabled){
     	    <text><i class="icon-comment"></i></text>
            <a href="#">@(post.CommentsCount > 0 ? post.CommentsCount + "Comments" : "No comments")</a>
        }
        
        <br/><a class="muted" href="@post.Origin">@post.Origin</a>
                        
        </div>
        <!--Tags: 
    	<a href="#"><span class="label label-info">Snipp</span></a> 
    	<a href="#"><span class="label label-info">Bootstrap</span></a> 
    	<a href="#"><span class="label label-info">UI</span></a> 
    	<a href="#"><span class="label label-info">growth</span></a>
        -->
        <div class="blog-content-preview">
            @Html.Raw(post.Annotation)
        </div>

        <div class="pull-right blog-post-footer">
            <a href="@Url.Action("ViewBlogPost", "Example", new { id = post.Id})" class="btn btn-success btn-mini">
            <i class="icon-play icon-white"></i> @Buttons.ReadMore
        </a>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        
    </script>
}
