@model Carcass.Models.ComplexModel
@using Carcass.Common.MVC.HtmlHelperExtensions;
@using Carcass.Resources

@{ ViewBag.Title = "Complex Form"; }

<div class="tabbable tabs-border">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#CarcassEditorForModel" data-toggle="tab">Html.CarcassEditorForModel</a></li>
        <li><a href="#EditorForModel" data-toggle="tab">Html.EditorForModel</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="CarcassEditorForModel">
        @if (Model != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Submitted data</h4>
                @if (Model.MultipleUpload != null)
                {
                    <text>You have uploaded @Model.MultipleUpload.Length file(s)<br />
                        @Html.Raw(String.Join(", ", Model.MultipleUpload.Select(p => String.Format("{0} [{1}&nbsp;bytes]", p.FileName, p.ContentSize))))
                    </text>
                    <hr />
                }
        
            </div>
        }
    
        @using (Html.CarcassBeginForm("form-horizontal form-inline-validation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.CarcassValidationSummary("tab-form", true)
            @Html.CarcassEditorForModel( new { CssClass = "tab-form", InlineValidation = true, ValidationClass = "alert alert-error" })
            @Html.CarcassFormActions(new Dictionary<string, object> { 
                { Buttons.Submit, new { type = "submit", @class = "btn-primary" } } });
        }
    </div>
    <div class="tab-pane" id="EditorForModel">
        @using (Html.BeginForm("ComplexForm", "Example", FormMethod.Post, new { @class = "legacy-mvc-form" }))
        {
           <div class="tab-form">
                @Html.ValidationSummary()
                @Html.EditorForModel()
            </div>
            
            @Html.CarcassFormActions(new Dictionary<string, object> { 
                { Buttons.Submit, new { type = "submit", @class = "btn-primary" } } });
        }

    </div>
</div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
