@model Carcass.Models.BlogPost
@using Carcass.Resources

@{ ViewBag.Title = Model.Title; }

<div class="blog-post-header">
    <!-- TODO: Move to helper extension -->
    @if (Model.AuthorId != 0)
    {
        <a href="@Url.Action("UserBlog", "Example", new { id = Model.AuthorId, username = Model.AuthorName })"><i class="icon-user"></i> @Model.AuthorName</a> 
    } else {
        <span class="muted"><i class="icon-user"></i> @Model.AuthorName</span>
    }
    <i class="icon-calendar"></i> @Model.DateModified
    @if (Model.CommentsEnabled)
    {
     	<text><i class="icon-comment"></i></text>
        <a href="#">@(Model.CommentsCount > 0 ? Model.CommentsCount + "Comments" : "No comments")</a>
    }
    <br/><a class="muted" href="@Model.Origin">@Model.Origin</a>
</div>
<hr />
@Html.Raw(Model.Content)
<hr />
@section Head {
    @Styles.Render("~/Content/css/wysiwyg-color.css")
}
@section Scripts {
    <script type="text/javascript">
        
    </script>
}
