@using System.Threading
@using Carcass.Resources
@{
    var lang = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName; 
}
<a href="@Url.Action("SetLanguage", "Localization", new { lang = "en" })" class="language-btn label @(lang != "en" ? "label-inverse" : "")" id="language-btn-en" data-language="en">@Languages.English</a>
<a href="@Url.Action("SetLanguage", "Localization", new { lang = "ru" })" class="language-btn label @(lang != "ru" ? "label-inverse" : "")" id="language-btn-ru" data-language="ru">@Languages.Russian</a>