@using System.Threading
@using Carcass.Resources
@using Carcass.Infrastructure
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge, Chrome=1" />

        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en")
        @Styles.Render("~/Content/css/main")
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <link href="@Url.Content("~/Content/css/ie7-8.css")" rel="stylesheet">
            <script src="@Url.Content("~/Content/js/html5.js")"></script>
        <![endif]-->
        <!--[if lt IE 8]><link href="@Url.Content("~/Content/css/ie7.css")" rel="stylesheet"><![endif]-->
         @Scripts.Render("~/bundles/startup")
         <script type="text/javascript">
             window.Carcass = {
                 "Language": "@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName",
                 "BaseUrl": "@Url.Content("~/")"
             }
         </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
              <a class="brand" href="@Url.Content("~/")">Carcass</a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown" id="examples-menu">
                        <a href="#examples-menu" class="dropdown-toggle" data-toggle="dropdown">
                            @Titles.Examples
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapsed">
                            <li><a href="@Url.Action("ComplexForm", "Example")"><i class="icon-list-alt"></i>@ExamplesResources.ComplexForm</a></li>
                            <li><a href="@Url.Action("BlogSpace", "Example")"><i class="icon-list-alt"></i>@ExamplesResources.BlogSpace</a></li>
                            <li><a href="@Url.Action("Bootbox", "Example")"><i class="icon-exclamation-sign"></i>Bootbox.js</a></li>

                        </ul>
                    </li>

                    <li class="dropdown" id="bootstrap-menu">
                        <a href="#bootstrap-menu" class="dropdown-toggle" data-toggle="dropdown">
                            @Titles.BootsrapDocs
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapsed">
                            <li><a href="http://twitter.github.com/bootstrap/scaffolding.html"><i class="icon-question-sign"></i> Scaffolding</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/base-css.html"><i class="icon-question-sign"></i> Base CSS</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/components.html"><i class="icon-question-sign"></i> Components</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/javascript.html"><i class="icon-question-sign"></i> Javascript</a></li>
                            <li class="divider"></li>
                            <li><a href="http://twitter.github.com/bootstrap/getting-started.html#examples"><i class="icon-question-sign"></i>Examples</a></li>
                        </ul>
                    </li>
                    
                    @if (Roles.IsUserInRole(AppConstants.AdministratorsGroup))
                    {
                        <li class="dropdown" id="admin-menu">
                            <a href="#admin-menu" class="dropdown-toggle" data-toggle="dropdown">
                                @Titles.Administration
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapsed">
                                <li><a href="@Url.Action("Users", "Account")"><i class="icon-list"></i>@Titles.Users</a></li>
                            </ul>
                        </li>
                    }

                    <li class="">
                        <a href="@Url.Action("About", "Home")">@Titles.About</a>
                    </li>

                </ul>
                <div class="nav nav-pills pull-right" id="login">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="nav nav-pills pull-right navbar-text" id="languages">
                    @Html.Partial("_Languages")
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container" id="page-content">
            <div class="row">
                @if (ViewBag.Title != null && ViewBag.HidePageTitleBlock == null)
                {
                    <section class="well well-small well-accent">
                        <h1>@ViewBag.Title</h1>
                    </section>
                }
            </div>
            <div class="row">
                @RenderSection("ContentHeader", required: false)
                @RenderBody()
                @RenderSection("ContentFooter", required: false)
            </div>
        </div>
                    
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <hr />
                    <div class="span2">
                        &copy; @DateTime.Now.Year - Carcass
                    </div>
                    <div class="span4 muted">
                        Culture: @Thread.CurrentThread.CurrentCulture.Name <br />
                        UI Culture: @Thread.CurrentThread.CurrentUICulture.Name
                    </div>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/common")
        @* Scripts.Render("~/Content/tinymce/jquery.tinymce.js") *@
        @Scripts.Render(Url.Action("Controls", "Localization", new { culture = Thread.CurrentThread.CurrentUICulture.Name } ))
        <!-- Render page scripts -->
        @RenderSection("scripts", required: false)
    </body>
</html>
