@using Carcass.Resources
@if (Request.IsAuthenticated) {
    <span class="navbar-text">
        Hello, <a class="username" href="@Url.Action("Manage", "Account")" title="Manage">@User.Identity.Name</a>
        <a href="@Url.Action("LogOff", "Account")" title="Log off">Log off</a>
    </span>
    
} else {
    <a class="btn btn-success" href="@Url.Action("Register", "Account")" title="@Titles.Register">@Titles.Register</a>
    if(Request.Url.PathAndQuery.IndexOf("Account/Login") == -1) {
        <a class="btn btn-primary" href="@Url.Action("Login", "Account", new { ReturnUrl = Request.Url.PathAndQuery })" title="@Titles.LogIn">@Titles.LogIn</a>
    }
}
