@if (Request.IsAuthenticated) {
    <span class="navbar-text">
        Hello, <a class="nav-link username" href="@Url.Action("Manage", "Account")" title="Manage">@User.Identity.Name</a>
    </span>
    <a class="nav-link" href="@Url.Action("LogOff", "Account")" title="Log off">Log off</a>
    
} else {
    <a class="btn btn-success" href="@Url.Action("Register", "Account")" title="Sign Up">Sign Up</a>
    <a class="btn btn-primary" href="@Url.Action("Login", "Account")" title="Log in">Log In</a>
}
